{% extends "layout.html" %}

{% block title %}Muokkaa treeniohjelmaa{% endblock%}

{% block content %}
<h2>Muokkaa treeniohjelmaa</h2>
<form action="/update_program" method="post">
  <div class="create">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" value="{{ program.title }}" size="50" maxlength="50" required/>
  </p>
  <p>
    <label for="content">Kuvaus:</label> <br />
    <textarea name="content" id="content" rows="8" cols="60" maxlength="500" required>{{ program.content }}</textarea>
  </p>
  <p>
    <label for="experience">Kokemustaso:</label> <br />
    {% for level in levels %}
    <input type="radio" name="experience" id="experience" value="{{ level.id }}"
      {% if level.id == program.level_id %} checked {% endif %} required/> {{ level.title }}
    {% endfor %}
  </p>
  <p>
    <label for="workout_type">Treeniohjelman tavoite:</label> <br />
    {% for type in types %}
    <input type="radio" name="workout_type" id="workout_type" value="{{ type.id }}"
      {% if type.id == program.type_id %} checked {% endif %} required/> {{ type.title }}
    {% endfor %}
  </p>
  <input type="hidden" name="program_id" value="{{ program.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä" />
  </div>
</form>
{% endblock %}