<!DOCTYPE html>
<html>

<head>
  <title>Etsi ohjelma</title>
</head>

<body>
  <h1>Etsi ohjelma</h1>

  <form action="find_program" method="get">
    <p>
      Hakusana: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Etsi">
  </form>

  <p>
    <a href="/">Takaisin</a>
  </p>

  {% if query %}
  <h2>Tulokset</h2>

  <ul>
    {% for program in results %}
    <li><a href="/program/{{ program.id }}">{{ program.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

</body>

</html>