{% extends "layout.html" %}

{% block title %}Treeniohjelmat{% endblock%}

{% block content %}
<h2>Kaikki julkaistut treeniohjelmat</h2>

{% for program in programs %}
<div class="program">
<a href="/program/{{ program.id }}">{{ program.title }}</a><br />
<strong>Taso:</strong> {{ program.level }} | <strong>Tavoite:</strong> {{ program.type }}<br />
<strong>Julkaisija:</strong> {{ program.username }} | <strong>Julkaisuaika:</strong> {{ program.created_at }}<br />
</div>
{% else %}
    <p>Ei vielä julkaistuja ohjelmia</p>
{% endfor %}
<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% endblock %}