<!DOCTYPE html>
<html>

<head>
  <title>Treeniohjelmat</title>
</head>

<body>
  <h1>Treeniohjelmat</h1>

  {% if session.username %}  
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="\find_program">Etsi ohjelma</a> |
  {% if session.user_id %}
    <a href="\new_program">Julkaise treeniohjelma</a> |
    <a href="\logout">Kirjaudu ulos</a>
  {% else %}
    <a href="\login">Kirjaudu sisään</a> |
    <a href="\register">Rekisteröidy</a>
  {% endif %}
  </p>

  <h2>Kaikki julkaistut treeniohjelmat</h2>
  
  <ul>
    {% for program in programs %}
    <li><a href="/program/{{ program.id }}">{{ program.title }}</a></li>
    {% endfor %}
  </ul>

</body>

</html>