<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock%}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="header">
    <h1>Treeniohjelmat</h1>

    {% if session.username %}  
    <p>
      Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
    {% endif %}
  
    <div class="nav">
      <p>
        <a href="\">Etusivu</a> |
        <a href="\find_program">Etsi ohjelma</a> |
        {% if session.user_id %}
        <a href="\new_program">Julkaise treeniohjelma</a> |
        <a href="\user\{{ session.user_id }}">Käyttäjäsivu</a> |
        <a href="\logout">Kirjaudu ulos</a>
        {% else %}
        <a href="\login">Kirjaudu sisään</a> |
        <a href="\register">Rekisteröidy</a>
        {% endif %}
      </p>
    </div>
  </div>
  
  {% for message in get_flashed_messages() %}
    {% if "VIRHE" in message %}
      <div class="error">
        <b>{{ message }}</b>
      </div>
    {% else %}
      <div class="info">
        <b>{{ message }}</b>
      </div>
    {% endif %}
    {% endfor %}

  {% block content %}{% endblock %}
  
</body>

</html>