{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock%}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>
<p>
  Käyttäjällä on yhteensä {{ programs | count }} julkaistua treeniohjelmaa
</p>
<h2>Treeniohjelmat</h2>

{% for program in programs %}
<div class="program">
<a href="/program/{{ program.id }}">{{ program.title }}</a><br>
<strong>Taso:</strong> {{ program.level }} | <strong>Tavoite:</strong> {{ program.type }}<br>
<strong>Julkaisuaika:</strong> {{ program.created_at }}
</div>
{% else %}
<p>Ei vielä julkaistuja ohjelmia</p>
{% endfor %}

{% endblock %}