<!DOCTYPE html>
<html>

<head>
  <title>{{ program.title }}</title>
</head>

<body>
  <h1>{{ program.title }}</h1>
  {% if session.user_id == program.user_id %}
  <p>
    <a href="/edit_program/{{ program.id }}">Muokkaa</a>
    <a href="/delete_program/{{ program.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{ program.content }}
  </p>
  <p>
    <strong>Julkaisija:</strong> <a href="/user/{{ program.user_id }}">{{ program.username }}</a>
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>